/********************************************************************
* GERAL
*********************************************************************/
body {
	font-family: sans-serif;
	background-color:#FBFF83;
	background-image: linear-gradient(to right, rgba(255,255,255,.5) 1px, transparent 4px);
	background-size: 4px 4px;
	
}

/********************************************************************
* CONTAINER
*********************************************************************/
.container{
	margin: 0 auto;
	max-width: 960px;
}

/********************************************************************
* MAIN-HEADER
*********************************************************************/
.main-header .container {
	position: relative;
	padding-top: 3px;
}

.logo {
	width: 310px;
	height: 86px;
}

/********************************************************************
* MAIN-NAV
*********************************************************************/
.main-nav{
	position: absolute;
	right: 0;
	top: 30px;
}

.main-nav-item + .main-nav-item {
	margin-left: 15px;
}

.main-nav-link {
	font-weight: bold;
	text-transform: uppercase;
}

.main-nav-links:hover {
	border-top: 5px solid #990000;
	border-bottom: 5px solid #990000;
	padding-top: 2px;
	padding-bottom: 2px;
}

.main-nav-links {
	list-style: none; 
	overflow: hidden;
	text-decoration: none;
	color: #000000;
}

.main-nav-item {
	float: left;
}

.main-nav-link.current {
	
}

 

.ico-facebook {
	background-image: url(../img/ico/ico-facebook.png);
}

.ico-instagram {
	background-image: url(../img/ico/ico-instagram.png);
}

.socias:hover {
	background-color: #990000;
}


.main-nav-item.socias li {
	display: inline-block;
}

.main-nav-item.socias a {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -99999px;
}

/********************************************************************
* CARROSEL
*********************************************************************/

